.vscode/


build/*
dist/*
*.egg-info/

.idea/*
**/.coverage*
**/.hypothesis/*
**/.mypy_cache/*
**/htmlcov/*
# .benchmarks/
/results/

env/*

**/__pycache__/*

*.log

test.py
test.ipynb
**/.ipynb_checkpoints/*

*.so
python_server.log
/allegro.jrl
tmp/

# LLM agent
# .codex/
# .agents/
.codex/*.env
.specstory
.cursorindexingignore

# .claude/

# MkDocs build output
site/
.DS_Store
